:root {
    --primary-color: rgb(255, 61, 61);
  }
  
  .nav-bar {
    background-color: var(--primary-color);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    position: fixed; /* Fix the navbar */
    top: 0; /* Position it at the top */
    z-index: 1000; /* Ensure it appears above other content */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional shadow for better visibility */
}
  
  .aeropulse-nav {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Adjust to fit your content */
    justify-content: space-between; /* Space out logo and nav-links */
    padding: 0 20px; /* Optional padding */
  }
  
  .navbar-brand img {
    height: 82px;
  }
  
  .nav-links {
    display: flex;
    gap: 30px; /* Space between links */
    margin-right: 10px;
  }
  
  .nav-link {
    color: white !important;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 2px;
  }
  
  .nav-link:hover {
    color: #0f0f0fb3 !important; /* Slightly lighter color on hover */
  }